{% if page.last_modified_at %}
{% assign date_english = page.last_modified_at | date: site.date_format %}
{% include date_italian.html %}
<p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{
        site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time
        datetime="{{ page.last_modified_at | date: " %Y-%m-%d" }}">{{ date_italian }}</time>
</p>
{% elsif page.date %}
{% assign date_english = page.date | date: site.date_format %}
{% include date_italian.html %}
<p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{
        site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time
        datetime="{{ page.date | date_to_xmlschema }}">{{ date_italian }}</time></p>
{% endif %}